<div>
  <header class="mb-32">
    <h2 class="title">Admin page</h2>
  </header>

  <form class="form">
    <div class="mb-32">

      <h4 class="title small mb-24">User list</h4>

      <p class="mb-40">
        You can change another user and continue to use this app.
      </p>
      <mat-form-field>
        <mat-label>Choose user</mat-label>
        <mat-select [(value)]="userSet">
          <mat-option *ngFor="let user of users" [(value)]="user" name="email">
            {{user.email}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button (click)="loginUser()" mat-flat-button color="accent">Choose</button>
  </form>
</div>
