body {
  font-family: 'Nanum Gothic', sans-serif;
  font-max-size: 16px;
  font-min-size: 11px;
}

a {
  text-decoration: none;
  &.link {
    color: #3f51b5;
    font-weight: 600;
    transition: color .3s ease-in-out;
    &:hover, &:focus, &:active {
      color: coral;
    }
  }
}

.font {
  &.small {
    font-size: 0.8rem;
  }
}


.title {
  font-size: 1.7rem;
  font-weight: 600;
  &.small {
    font-size: 1.1rem;
  }
}

.text {
  &.center {
    text-align: center;
  }
}


p {
  color: #222222;
  line-height: 1.6;
  font-weight: 200;
}

ul {
  &.list {
   li {
     list-style: circle inside;
   }
  }
}
