<header class="header [ flex space-between wrp ] ">
  <div class="flex v-center">
    <h1 class="header__brand [ mr-40 ] ">
      <a href="/">Angular autorization</a>
    </h1>

    <nav>
      <ul class="header__navigation [ flex v-center mr-32 ] ">
        <li>
          <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
        </li>
        <li>
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </nav>
  </div>

  <nav *ngIf="!_authServer.loggedIn()">
    <ul class="header__userControll [ flex v-cnter font small ] ">
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a routerLink="/registration" routerLinkActive="active">Registration</a>
      </li>
    </ul>
  </nav>
  <nav *ngIf="_authServer.loggedIn()">
    <ul class="header__userControll [ flex v-cnter font small ] ">
      <li>
        <a routerLink="/registration" routerLinkActive="active" (click)="_authServer.logoutUser()">Logout</a>
      </li>
    </ul>
  </nav>
</header>
